body {
  font-family: 'Outfit';
  text-align: center;
}

.main {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

div {
    width: 1440px;
}