body {
  font-family: 'Outfit';
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}

.main {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 300;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.qrcode {
    border-radius: 25px;
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    padding: 25px;
    text-align: center;
    /* what is 0 auto */
    margin: 0 auto;
    margin-top: 100px;

}

img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}